# Environment
.env
.env.local
.env.staging
.env.production

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Tests
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json